body{
	margin:0px;
}

h1{
	text-align: center;
	font-family:"Times New Roman", Times, serif;
}

div.container-outer{
	width:33%;
	float:left;
}

div.container {
	border: 1px solid black;
	margin: 20px;
	position: relative;
	box-sizing:border-box;
	background: lightgray;
}


p.label {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 2px 15px 2px 15px;
	font-size:100%;
	font-family:"Times New Roman", Times, serif;
}

p#label1{
	background:pink;
}

p#label2{
	background:red;
}

p#label3{
	background:yellow;
}

p.content {
	padding: 15px;
	font-size:90%;
	font-family:"Times New Roman", Times, serif;
}

@media (max-width: 767px) {
	div.container-outer{
		width:100%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	div.container-outer{
		width:50%;
	}
	div#container-3{
		width:100%;
	}
}
@media (min-width: 992px) {
	
}
